In [1]:
#12 day project

In [2]:
#conda install -c anaconda quandl
#conda install bokeh

In [3]:
import quandl
import pandas as pd
import requests
#quandl.ApiConfig.api_key = "kj_HTAuyzXuNCnYrKEos"

In [4]:
api_key='kj_HTAuyzXuNCnYrKEos'
ticker='ZUMZ'
url='https://www.quandl.com/api/v3/datatables/WIKI/PRICES?ticker={}&api_key={}'.format(ticker,api_key)

In [5]:
res = requests.get(url)
x=res.json()

In [6]:
columns_names=['ticker','date','open','high','low','close','volume','ex-dividend','split-ratio','adj_open','adj_high','adj_low','adj_close','adj_volume']
df = pd.DataFrame(x['datatable']['data'])
df.columns=columns_names
df['date'] = pd.to_datetime(df['date']) #to change into pandas Date type
df['year'] = pd.DatetimeIndex(df['date']).year 
df['month'] = pd.DatetimeIndex(df['date']).month

In [7]:
df=df.sort_values(by=['date'],ascending=False)
df=df[df['year']==2017]

In [8]:
df.head()

,ticker,date,open,high,low,close,volume,ex-dividend,split-ratio,adj_open,adj_high,adj_low,adj_close,adj_volume,year,month
59,ZUMZ,2017-12-29,21.25,21.45,20.80,20.825,222040.0,0.0,1.0,21.25,21.45,20.80,20.825,222040.0,2017,12
60,ZUMZ,2017-12-28,21.20,21.45,21.05,21.200,162070.0,0.0,1.0,21.20,21.45,21.05,21.200,162070.0,2017,12
61,ZUMZ,2017-12-27,21.80,22.25,20.95,21.150,227325.0,0.0,1.0,21.80,22.25,20.95,21.150,227325.0,2017,12
62,ZUMZ,2017-12-26,21.45,22.20,21.45,21.850,213951.0,0.0,1.0,21.45,22.20,21.45,21.850,213951.0,2017,12
63,ZUMZ,2017-12-22,21.55,21.70,21.30,21.450,209585.0,0.0,1.0,21.55,21.70,21.30,21.450,209585.0,2017,12

In [9]:
#Bokeh

from bokeh.plotting import figure,output_file,show

plotting=df['close']
output_file('templates/eg2.html')
date=df['date']

#add plot
p=figure(
    
    title='QUANDL WIKI EOD Stock Prices - 2017',
    x_axis_label='date',
    x_axis_type='datetime'
    #y_axis_label='Y axis'
)

#render glyph
p.line(date,plotting,legend='{}: close'.format(ticker),line_width=2)

#show results
show(p)